*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
.list{
  width: 800px;
  margin: 30px auto;
}
.todo-list{
  margin-top: 20px;
}
.todo-list li{
  margin-top: 10px;
}
.list-elemtent_delete{
  margin-left: 10px;
  color: red;
  font-weight: bold;
}
.list-elemtent_delete:hover{
  cursor: pointer;
}
.add-element{
  margin-top: 20px;
  padding: 10px;
}
#add{
  width: 30%;
  margin-left: 10px;
}

.template{
  display: none;
}
