/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  font-family: 'Lato', sans-serif;
  background-color: #ffebcd;
}
.container{
  width: 800px;
  margin: auto;
}
/* corpo pagina */
header{
  margin: 40px 0;
  text-align: center;
}
.shopp-img{
  height: 50px;
  margin-right: 10px;
}
.title{
  display: inline-block;
}
.list{
  margin: 30px 0;
}
.todo-list{
  margin-top: 20px;
}
.todo-list li{
  margin-top: 10px;
}
.list-elemtent_delete{
  margin-left: 10px;
  color: red;
  font-weight: bold;
}
.list-elemtent_delete:hover{
  cursor: pointer;
}
.add-element{
  margin-top: 20px;
  padding: 10px;
}
#add{
  width: 30%;
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
}
#add:focus{
  outline: none;
}
.template{
  display: none;
}
/* footer */
.greeting{
  margin-top: 10px;
  text-align: center;
}
